# PERT 3

In [2]:
a = "blyat"
print (a)

blyat

In [3]:
value=int (input("Masukan nilai :"))
if value >=90:
    grade = "A"
elif value >=80:
    grade = "B"
elif value >=70:
    grade = "C"
    
print (f"grade : {grade}")

grade : A

# PERTEMUAN PRAKTIKUM 3

#contoh tipe data strring

In [5]:
a = 'tes'

print(type(a))

<class 'str'>

#contoh tipe data float

In [6]:
a = 3.43

print(type(a))

<class 'float'>

#contoh tipe data integer

In [7]:
a = 12

print(type(a))

<class 'int'>

#contoh tipe data complex

In [8]:
a = 1j

print(type(a))

<class 'complex'>

#contoh tipe data list

In [10]:
a = ["a","b","c"]

print(type(a))

<class 'list'>

#contoh tipe data tuple

In [11]:
a = ("a","b","c")

print(type(a))

<class 'tuple'>

#contoh tipe data range

In [12]:
a = range(5)

print(type(a))

<class 'range'>

#contoh tipe data dict

In [13]:
a = {"nama" : "ani", "umur": 36}
print(type(a))

<class 'dict'>

#contoh tipe data set

In [14]:
a = {"ani", "budi", "tono"}

print(type(a))

<class 'set'>

#contoh tipe data forzenset

In [15]:
j = frozenset({"ani","budi", "tono"})
print(type(j))

<class 'frozenset'>

jelaskan maksud  dari penerapan variable di bawah ini

In [20]:
a = 2 
b = int (2)

print(a)
print(b)

2
2

#jawaban

>- ketika anda menggunakan variable 'a' = 2 maka python akan secara otomatis memahami bahawa nilai variable 'a' adalah 2 
>- sedangkan untuk variable 'b' memiliki nilai yang sama dengan 'a', tetapi kita mengoversinya menjadi bilangn bulan dengan fungsi 'int()'

In [22]:
from enum import Enum

class hari (Enum):
    senin = 1
    selasa = 2
    rabu = 3
    kamis = 4
    jumat = 5
    sabtu = 6
    minggu = 7

for hari in (hari):
    print (hari.value, ". ", hari)

1 .  hari.senin
2 .  hari.selasa
3 .  hari.rabu
4 .  hari.kamis
5 .  hari.jumat
6 .  hari.sabtu
7 .  hari.minggu